@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 16px;

    /* primary */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    /* accent */
    --blue: hsl(248, 32%, 49%);
    /* neutral */
    --dk-blue: hsl(249, 10%, 26%);
    --grey-blue: hsl(246, 25%, 77%);
}

body {
    background-color: var(--red);
    background-image: url('./images/bg-intro-mobile.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    color: #fff;

    padding: 1rem 1rem 4rem;
}

header {
    margin: 3rem 0;
}

header, p {
    text-align: center;

}

h1 {
    font-weight: 600;
}

p {
    font-weight: 400;
}

.cta {
    background: var(--blue);
    padding: .1rem 3rem;
    
}
.cta p {
    font-weight: 300;
}
.cta strong {
    font-weight: 600;
}

form {
    color: var(--dk-blue);
    background-color: #fff;

    padding: .5rem 1.5rem 1.5rem;
    margin-top: 1.5rem;
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--grey-blue);
    border-radius: 5px;

    font-family: 'Poppins';
    font-size: .9rem;
    font-weight: 500;

    /* bkg styling for error icon */
    background-repeat: no-repeat;
    background-position: 95%;
}

button {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    width: 100%;

    background-color: var(--green);
    color: #fff;
    font-size: 1.1rem;
    font-family: 'Poppins';
    font-weight: 400;

    box-shadow: 0 -4px 0 0 #0002 inset;
}

button:hover {
    opacity: 80%;
}

form p {
    margin: 0;
    padding: 0 1rem;
    color: var(--grey-blue);
    font-size: .7rem;
}
form p a {
    color: var(--red);
    font-weight: 600;
    text-decoration: none;
}

input,
button,
form p {
    margin-top: 1rem;
}

.cta, form {
    border-radius: 8px;
    box-shadow: 0 7px 0 0 #0002;  
}

/* error msg */
span {
    float: right;
    color: var(--red);
    font-size: .7rem;
    font-style: italic;
}

.email-red::placeholder {
    color: var(--red);
}

@media screen and (min-width: 1440px) {
    body {
        display: grid;
        grid-template: 1fr / 1fr 1fr;

        background-image: url('./images/bg-intro-desktop.png');


        padding: 5rem 10rem;
    }

    header {
        position: relative;
        align-self: center;
        padding: 2rem;
        margin: 3rem;
    }
    header p {
        font-size: .7rem;
    }

    header, header p {
        text-align: left;
    }
    form {
        padding: 1rem 2rem 2rem;
    }
}